################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ATLT
/ATLT/ATLT.vcxproj
/ATLT/ATLT.vcxproj.filters
/ATLT/ATLT.vcxproj.user
/TestProj
/x64
